@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  background: #60723f;
}

*::-webkit-scrollbar-thumb:hover {
  background: #778F43;
}

.infiniteMove {
  animation: infiniteMove 7s ease-in-out infinite;
}

.infiniteMove2 {
  animation: infiniteMove2 7s ease-in-out infinite;
}

.infiniteMove3 {
  animation: infiniteMove3 7s ease-in-out infinite;
}

.infiniteMove4 {
  animation: infiniteMove4 7s ease-in-out infinite;
}

@keyframes infiniteMove {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes infiniteMove2 {
  0% {
    transform: translateY(-100vh);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes infiniteMove3 {
  0% {
    transform: translateY(-100vh);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes infiniteMove4 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}


.divisorLight {
  background: linear-gradient(to right, #ffffff00, #247042ad, #ffffff00);
}

.divisorDark {
  background: linear-gradient(to right, #00000049, #247042ad, #00000049);
}



.navbar {
  padding: 0px 2px;
  color: black;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.text-shadow {
  text-shadow: 0, 0, 15px rgba(0, 0, 0, 0.5);
}


.card-1 {
  background-color: #662728;
}

.card-2 {
  background-color: #8a4d2b;
}

.card-3 {
  background-color: #99933d;
}

.card-4 {
  background-color: #468639;
}

.card-5 {
  background-color: #83396a;
}

.card-6 {
  background-color: #202458;
}

.card-7 {
  background-color: #517c9c;
}

.card-8 {
  background-color: #5a5a36;
}

.card-9 {
  background-color: #8d4d89;
}

.card-10 {
  background-color: #378f77;
}

.card-11 {
  background-color: #2e4d69;
}

.card-12 {
  background-color: #666666;
}

#message {
  scrollbar-width: thin; 
  scrollbar-color: #4A5568 #E2E8F0;
}


#message::-webkit-scrollbar {
  width: 8px;
}

#message::-webkit-scrollbar-track {
  background: #E2E8F0; 
}

#message::-webkit-scrollbar-thumb {
  background-color: #4A5568; 
  border-radius: 10px; 
}

#message::-webkit-scrollbar-thumb:hover {
  background-color: #2D3748; 
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 420s linear infinite;
  display: flex; 
}


@keyframes scroll-1 {
  0% {
    transform: translateX(-0);
  }
  100% {
    transform: translateX(50%);
  }
}

.animate-scroll-1 {
  animation: scroll-1 420s linear infinite;
  display: flex; 
}


.animate-scroll:hover {
  animation-play-state: paused;
}

.animate-scroll-1:hover {
  animation-play-state: paused;
}









